<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Kontakt
        </h2>
        <p>
            Za više informacija i profesionalno savjetovanje nazovite ili pošaljite e-mail s Vašim upitom. Rado ćemo Vas savijetovati o najboljem rješenju za Vaše želje i  potrebe.
        </p>
        <a href="/contact" class="cs-button-solid">Kontakt</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>